@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-800; /* Apply the dark background color */
}

/* SPINNER CSS START */
.pos-center {
  position: fixed;
  top: calc(50% - 40px);
  left: calc(50% - 40px);
}

.loader {
  border: 10px solid #000000;
  border-top: 10px solid #3498db;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* SPINNER CSS END */
